<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../css/products.css">
        <script src="./../helpers/helper.js"></script>
        <title>Products</title>
    </head>

    <body>
        <h1>Products</h1>
        <div class="container">
        {{#each products}} 
            <div class="prod">
                <img src={{this.imgUrl}} />
                <div class="center">
                    <label>{{this.name}}</label>
                </div>
                <div class="center">
                        <label>$ {{this.price}}</label>
                </div>
                <div class="center m-t-10 m-b-10">
                    <button onclick="addToCart({{getThis}})">Add to cart</button>
                </div>
            </div>
        {{/each}}
        </div>
        <div class="m-t-10">
            <button onclick="goToCart()">Go to cart</button>
        </div>
    </body>
</html>